[Unit]
Description=Restart sync check service

[Service]
ExecStart=/bin/bash -c "source ~/.bashrc && /bin/bash /root/restart.sh"
WorkingDirectory=/root

[Install]
WantedBy=default.target
