global:
  slack_api_url: https://slack.com/api/chat.postMessage
  http_config:
    authorization:
      credentials: "{{ slack_token }}"

route:
  receiver: 'default-notifications'
  group_by: ['instance', 'severity']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 3h
  routes:
  - match:
      severity: warning
    receiver: 'warning-notifications'
  - match:
      severity: critical
    receiver: 'critical-notifications'

receivers:
- name: 'default-notifications'
  slack_configs:
  - channel: "#{{ slack_channel }}"
    text: "summary: {{ '{{' }} .CommonAnnotations.summary {{ '}}' }}: {{ '{{' }} .CommonAnnotations.description {{ '}}' }}"

- name: 'warning-notifications'
  slack_configs:
  - channel: "#{{ slack_channel }}"
    text: "Warning alert: {{ '{{' }} .CommonAnnotations.summary {{ '}}' }}: {{ '{{' }} .CommonAnnotations.description {{ '}}' }}"

- name: 'critical-notifications'
  slack_configs:
  - channel: "#{{ slack_channel }}"
    text: "Critical alert: {{ '{{' }} .CommonAnnotations.summary {{ '}}' }}: {{ '{{' }} .CommonAnnotations.description {{ '}}' }}"
