[Unit]
Description=Node Exporter {{ node_exporter_version }}
Wants=network-online.target
After=network-online.target

[Service]
User={{ node_exporter_user }}
Group={{ node_exporter_group }}
ExecStart={{ node_exporter_bin }}
Type=simple

[Install]
WantedBy=mult-user.target
