auth_enabled: false

server:
  http_listen_port: {{ loki_config_http_port }}
  grpc_listen_port: 9095

ingester:
  lifecycler:
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
    final_sleep: 0s
  chunk_idle_period: 5m
  chunk_retain_period: 30s
  max_transfer_retries: 0

schema_config:
  configs:
  - from: 2022-01-01
    store: boltdb-shipper
    object_store: s3
    schema: v11
    index:
      prefix: index_
      period: 24h

storage_config:
  filesystem:
    directory: /tmp/loki/chunks  
  boltdb_shipper:
    active_index_directory: /tmp/loki/index
    cache_location: /tmp//loki/index_cache
    resync_interval: 5s
    shared_store: s3   

compactor:
  compaction_interval: 5m
  retention_enabled: true
  working_directory: /tmp/loki/compactor
  shared_store: s3

limits_config:
  enforce_metric_name: false
  reject_old_samples: true
  reject_old_samples_max_age: {{ loki_config_period }}

chunk_store_config:
  max_look_back_period: {{ loki_config_retention }}

table_manager:
  retention_deletes_enabled: true
  retention_period: {{ loki_config_retention }} 

common:
  path_prefix: /loki
  storage:
    s3:
      endpoint: {{ endpoint }}
      bucketnames: {{ bucketname }}
      region: {{ region }}
      access_key_id: {{ lookup('env', 'SPACES_ACCESS_KEY') }}
      secret_access_key: {{ lookup('env', '$SPACES_SECRET_KEY') }}

ruler:
  alertmanager_url: http://alertmanager:9093

