#jinja2: lstrip_blocks: "True"
rule_files:
  - "alert.rules"

{{ prometheus_var_config | to_nice_yaml(indent=2) }}
{% if forest_exporter %}
- job_name: Forest-node
  scrape_interval: 15s
  static_configs:
  - targets:
{% for server in groups[forest_exporter] %}
    - {{ server }}:9100
    labels:
      instance: Forest_Node
{% endfor %}
{% endif %}

- job_name: Forest
  scrape_interval: 15s
  static_configs:
  - targets:
{% for server in groups[forest_exporter] %}
    - {{ server }}:6116
    labels:
      instance: Forest
{% endfor %}

- job_name: observability_exporter
  scrape_interval: 15s
  static_configs:
  - targets:
  {% for server in groups[observability] %}
    - {{ server }}:9100
    labels:
      instance: observability_node
{% endfor %}    
  
alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets: 
      - 'alertmanager:9093'
    
